@import "../../core/all"

.#{$prefix}form
  &__label
    display: block
    padding: 6px 10px 4px 2px

  &__validation
    background: red
    color: white
    font-size: 10px
    z-index: 1
    padding: 1px 5px
    margin-bottom: 0
    position: absolute
    top: 100%
    left: -2px
  &__group
    padding: 0
    position: relative
    margin-bottom: 10px
    border: 2px solid transparent

    &--invalid
      border: 2px solid red

  &-group
    .#{$prefix}form__group
      margin: 0
      margin-top: -8px

  &__header
    padding-left: 10px
    border-left: 5px rgba(219,203,163,0.5) solid
    font-size: 1.2em
    margin: 10px 0

  &__input--text
    font-size: 14px
    box-sizing: border-box
    background-color: #fff
    border: 1px solid #dbcba3
    display: block
    width: 100%
    text-align: left
    outline: none
    padding: 0 10px
    color: #333
    height: 40px
    line-height: 40px

  &__input--search
    width: calc(100% - 22px)

  &__input--range
    padding: 0 0 0 0
    border: none
    background: transparent

    &:hover + .#{$prefix}form__input--range__output
        opacity: 1


  &__input--range__output
    background: $color-blue-dark
    position: absolute
    pointer-events: none
    margin: auto
    color: white
    display: inline-block
    padding: 2px 5px
    margin-top: -50px
    border-radius: 2px
    font-size: 10px
    opacity: 0
    transition: opacity 0.2s

  &__input--file
    line-height: initial
    padding: 8px
    height: auto

    &:focus
      border-color: #85bd3c
      outline: 3px solid #85bd3c

  &__input--textarea
    height: 100px
