.root {
	position: relative;
	composes: border from "../../styles/colors.css";
	margin-bottom: 30px;
	border-radius: 3px 3px 0 3px;
}

.preview {
	margin-bottom: 0;
	padding: 0;
	overflow: auto;
}

.codeToggle {
	composes: font from "../../styles/common.css";
	composes: border link from "../../styles/colors.css";
	position: absolute;
	right: -1px;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 1;
	margin: 0;
}


.showCode,.showHtml {
	composes: base-bg from "../../styles/colors.css";
	composes: codeToggle;
}

.hideCode,.hideHtml {
	composes: code-bg from "../../styles/colors.css";
	composes: codeToggle;
}

.showHtml,.hideHtml {
    right: 100px;
    bottom: -27px;
}


.isolatedLink {
	composes: font from "../../styles/common.css";
	composes: link from "../../styles/colors.css";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding: 6px 8px;
	opacity: 0;
	transition: opacity ease-in-out .15s .2s;
}

.root:hover .isolatedLink {
	opacity: 1;
}

.liveExample {
    padding: 15px;
    background: #f5ecd5;
}

.htmlCode {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
