.root :global .CodeMirror {
    height: auto;
    padding: 0;
    font-size: 12px;
}
.root :global .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
.root :global .cm-error {
    background: none !important;
}

.root :global .CodeMirror-line,
.root :global .CodeMirror-linenumber {
    line-height: 1.8em;
}

