.root :global .CodeMirror {
    height: auto;
    padding: 0;
    font-size: 12px;
    border: 1px solid #1f4661;
}
.root :global .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}
.root :global .cm-error {
    background: none !important;
}

.root :global .CodeMirror-line,
.root :global .CodeMirror-linenumber {
    line-height: 1.8em;
}

.header, .htmlheader {
    padding: 2px 10px;
    background: #173347;
    color: white;
    font-size: 12px;
}

.htmlheader {
    background: #5f5e5e;
}
