$prefix: "muk-"

$animation-speed-fast: 0.15s
$animation-speed-normal: 0.3s
$animation-speed-slow: 0.5s

$stripe-height: 50px
$stripe-background-color: #333
$stripe-link-color: #fff
$stripe-text-color: #999

$menu-height: 50px
$menu-left-offset: 180px
$menu-background-color: $stripe-background-color
$menu-text-color: #fff
$menu-link-color: #fff
$menu-hover-color: #fbeea5
$menu-active-text-color: #7fba2c

$menu-sub-height: $menu-height
$menu-sub-background-color: #e5d7b6
$menu-sub-background-color-light: #8ab551
$menu-sub-text-color: #333
$menu-sub-link-color: #333
$menu-sub-active-text-color: #333
$menu-sub-dropdown-hover-background: #fbeea5
