@import "../core/all"

.#{$prefix}placeholder

  position: relative

  &__shadow
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    background: rgba(219, 203, 163, 0.25)
    margin: auto

  &__wrapper
    display: table
    width: 100%
    height: 100%

  &__container
    display: table-cell
    text-align: center
    vertical-align: middle