@import "../core/all"

.#{$prefix}wizard_nav
  padding: 0
  margin: 20px 0
  list-style: none
  background-color: #777777

  &__list
    list-style: none
    padding: 0
    margin: 0
    position: relative
    overflow: hidden

  &__item
    display: inline-block
    margin: 0
    padding: 0

    &:first-of-type
      .#{$prefix}wizard_nav__item__step
        margin-left: 20px


    &:after
      content: ''
      display: inline-block
      width: 32px
      height: 32px
      transform: rotate(-45deg)
      background: #777
      vertical-align: middle
      border: solid #777
      border-width: 0 3px 3px 0
      margin-right: -14px
      margin-left: -14px
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%)
      position: relative
      z-index: 1

    &--done, &--active
      background-color: $color-wizard
      position: relative

      &:after
        background: $color-wizard

      .#{$prefix}wizard_nav__item__step
        background-color: $color-wizard


  &__item__step
    font-size: 13px
    display: inline-block
    height: 36px
    line-height: 36px
    color: #fff
    margin-left: 35px
    min-width: 60px
    position: relative
    z-index: 2

    &:hover
      text-decoration: none
      color: #fff
