.root {
	position: relative;
	margin-bottom: 45px;
    margin-right: -1px;
}

.preview {
	margin-bottom: -1px;
	padding: 0;
}

.codeToggle {
	position: absolute;
	right: -1px;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0;
	padding: 6px 8px;
	font-size: 10px;
	line-height: 1;
	margin: 0;
    color: white;
    background: #112435;
}

.codeToggle:focus {
    outline: none;
}


.showCode,.showHtml {
	composes: base-bg from "../../styles/colors.css";
	composes: codeToggle;
    background-color: #7e7e7e;
}

.hideCode,.hideHtml {
	composes: code-bg from "../../styles/colors.css";
	composes: codeToggle;
}

.showHtml,.hideHtml {
    right: 80px;
}

.hideHtml {
    background: white;
    color: #222;
}


.isolatedLink {
	composes: font from "../../styles/common.css";
	composes: link from "../../styles/colors.css";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding: 6px 8px;
	opacity: 0;
	z-index: 100000;
	transition: opacity ease-in-out .15s .2s;
}

.root:hover .isolatedLink {
	opacity: 1;
}

.liveExample {
    padding: 0;
	margin-bottom: -20px;
}

.htmlCode {

}

.innerHtml {
}

.buttons {
    position: relative;
}


.header, .htmlheader {
    padding: 2px 10px;
    background: #173347;
    color: white;
    font-size: 12px;
}

.htmlheader {
    background: #5f5e5e;
}

.closeCode {
    float: right;
    color: white;
    background: transparent;
    border: none;
    font-size: 12px;
    padding-top: 2px;
}
