.root {
	position: relative;
	composes: border from "../../styles/colors.css";
	margin-bottom: 30px;
	border-radius: 3px 3px 0 3px;
    background: #f5ecd5;
    margin-right: -1px;
}

.preview {
	margin-bottom: -1px;
	padding: 0;
}

.codeToggle {
	composes: font from "../../styles/common.css";
	composes: border link from "../../styles/colors.css";
	position: absolute;
	right: -1px;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 0;
	padding: 6px 8px;
	font-size: 10px;
	line-height: 1;
	margin: 0;
    color: white;
    background: #112435;
}

.codeToggle:focus {
    outline: none;
}


.showCode,.showHtml {
	composes: base-bg from "../../styles/colors.css";
	composes: codeToggle;
    background-color: #7e7e7e;
}

.hideCode,.hideHtml {
	composes: code-bg from "../../styles/colors.css";
	composes: codeToggle;
}

.showHtml,.hideHtml {
    right: 80px;
}

.hideHtml {
    background: white;
    color: #222;
}


.isolatedLink {
	composes: font from "../../styles/common.css";
	composes: link from "../../styles/colors.css";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	padding: 6px 8px;
	opacity: 0;
	z-index: 100000;
	transition: opacity ease-in-out .15s .2s;
}

.root:hover .isolatedLink {
	opacity: 1;
}

.liveExample {
    padding: 15px;
}

.htmlCode {

}

.innerHtml {
}

.buttons {
    position: relative;
}
