.inline {
	display: inline-block;
}
.inline p:last-child {
	margin: 0;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	overflow: hidden;
}
.tableHead {
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
}
.tableBody {
}
.cell {
	padding-right: 15px;
	padding-top: 6px;
	vertical-align: top;
	font-size: 13px;

}

.cellHeading {
	padding-right: 15px;
	padding-bottom: 6px;
	text-align: left;
	font-size: 13px;
}
.cellDesc {
	color: #aaa;
	background: #f5f5f5;
	padding: 0;
}

.string {
	font-size: 14px;
	margin-left: 8px;
}

.string:before,.string:after {
	content: '"';
	position: absolute;
	color: #ddd;
	font-size: 20px;
	margin-left: -8px;
	font-style: normal;
	margin-top: -2px;
}

.string:after {
	margin-left: 1px;
	content: '  "';
}


.code, .pre {
	color: #666;
}

.required {
	color: #ccc;
}
.name {
	composes: name from "../../styles/colors.css";
}
.type {
	composes: type from "../../styles/colors.css";
}

